* {
font-family: 'Open Sans', Arial, sans-serif;
color: brown;
font-weight: bold;
}

.my-class {
font-family: Times New Roman, serif;
}

h1 {
	font-family: 'Lato', Georgia, serif;
	color: black;
}

#educa {
	background-color: #e6ddb8;

}

h2 {
	background-color: #FFDAB9; 
	text-align: center;
  }

#educa ul {
	color: #E6DDB8;
	color: white;
}
#informacion-personal{
	color: #2d334a;
}

#informacion-personal .der{
	float: right;
}


section {
	width: 80%;
	box-sizing: border-box;
	margin: 20px;
	border: 1px solid white;
	padding: 10px;
	background-color: #fffffe;
	display: flex;
	flex-direction:inherit;
	
}


body {
	display: flex;
	flex-direction: column;
    background-color: #f9f4ef; 
}


#imagen img {
    display: block;
    margin: 0 auto;
}


.Petado {
	/* Chrome, Safari, Opera */
	-webkit-animation: fadeInDown 4s; 
	animation: fadeInDown 4s;
  }

  .sombra {
	-webkit-animation: fadeInDown 4s; 
	animation: fadeInDown 4s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }