* {
font-family: 'Open Sans', Arial, sans-serif;
color: brown;
font-weight: bold;
}

.my-class {
font-family: Times New Roman, serif;
}

h1 {
	font-family: 'Lato', Georgia, serif;
	color: black;
	
}

#educa {
	background-color: #e6ddb8;

}


h2 {
	background-color: #FFDAB9;
	text-align: center;
	margin: 10px;
  }

#educa ul {
	color: #E6DDB8;
	color: white;
}
#informacion-personal{
	color: #2d334a;
}

#informacion-personal .der{
	float: right;
}


section {
	width: 100%;
	box-sizing: border-box;
	margin: 30px;
	border: 1px solid white;
	padding: 10px;
	background-color: #fffffe;
	display: flex;
	flex-direction:column;
	
}




body {
	display: flex;
	flex-direction: column;
    background-color: #f9f4ef; 
}


#imagen img {
    display: flex;
    margin: 0 auto;
}


.Petado {
	/* Chrome, Safari, Opera */
	-webkit-animation: fadeInDown 4s; 
	animation: fadeInDown 4s;
  }

  .sombra {
	-webkit-animation: fadeInDown 4s; 
	animation: fadeInDown 4s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinea el texto al centro si es necesario */
}


.wrapper {
    display: flex;
    height: 100%;
}

.left-column {
    width: 30%;
	height: 100vh;
    background-color: #e6ddb8;
    padding: 20px;
    position: fixed;
	display: flex;
    flex-direction: column;
	overflow: auto;

}

.right-column {
    width: 69%;
    overflow-y: auto; /* Permite el desplazamiento vertical */
    padding: 20px;
    background-color: #f9f4ef;
	margin-left: 30%;
}